body {
  background-color: black;
}

.title {
  font-family: "Georgia", sans-serif;
  color: whitesmoke;
  font-size: 40px;
  text-align: center;
  margin-bottom: 3px;
}

.undertitle {
  font-family: "Georgia", sans-serif;
  color: whitesmoke;
  font-size: 15px;
  text-align: center;
  margin-top: 0px;
}

.iconCircle {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: list-item;
}

.logo {
  width: 100%;
  text-align: center;
}

.logo img {
  height: 200px;
}

.layout-wrapper {
  display: grid;
  grid-template-columns: 10fr 2fr;
  padding: 50px;
}

.gameboard {
  width: 850px;
  height: 350px;
  margin: 0 auto;
  background: #826347;
  border-radius: 36px;
  display: grid;
  grid-template-columns: 3fr 8fr 3fr;
}

.holes-container {
  background-color: red;
}

.warehouse-container {
  background-color: green;
}

.user-controls {
  text-align: end;
}

.user-controls img {
  height: 50px;
  cursor: pointer;
}

.user-controls img:hover {
  filter: invert(11%) sepia(46%) saturate(5694%) hue-rotate(352deg)
    brightness(101%) contrast(91%);
}
