.hole-container {
  padding-top: 4%;
  padding-bottom: 4%;
}

.hole-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.hole {
  text-align: center;
}

.hole-ui {
  width: 109px;
  height: 115px;
  background: #b58960;
  box-shadow: inset 9px 8px 12px 6px rgba(0, 0, 0, 0.49);
  border-radius: 40px;
  margin: 0 auto;
}

.hole-score {
  font-size: 20px;
  line-height: 27px;
  color: #433223;
  padding: 5%;
}

.hole-divider {
  height: 1px;
  background-color: #433223;
}
