.hole-container {
  padding-top: 4%;
  padding-bottom: 4%;
}

.hole-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.hole {
  text-align: center;
  margin-left: 6px;
  margin-right: 6px;
}

.hole-ui {
  width: 109px;
  height: 115px;
  background: #b58960;
  box-shadow: inset 9px 8px 12px 6px rgba(0, 0, 0, 0.49);
  border-radius: 40px;
  margin: 0 auto;
}

.hole-ui-player {
  cursor: pointer;
}

.hole-score {
  font-size: 20px;
  line-height: 27px;
  color: #433223;
  padding: 6px;
}

.hole-divider {
  height: 1px;
  background-color: #433223;
}

.seeds {
  position: fixed;
  width: 27px;
  height: 40px;
  background: #3c4484;
  box-shadow: inset 0px -9px 4px rgba(0, 0, 0, 0.25);
  transform: rotate(26deg);
  border-radius: 50%;
}
