.warehouse-container {
  padding-top: 20%;
  text-align: center;
}

.warehouse-score {
  font-size: 32px;
  line-height: 40px;
  color: #433223;
}

.warehouse-score-right {
  margin-top: 10%;
}

.warehouse-ui {
  width: 70%;
  height: 65%;
  background: #b58960;
  border-radius: 40px;
  margin: 0 auto;
  margin-top: 10%;
}

.warehouse-ui-left {
  box-shadow: inset 9px 8px 12px 6px rgba(0, 0, 0, 0.49);
}

.warehouse-ui-right {
  box-shadow: inset -9px 8px 12px 6px rgba(0, 0, 0, 0.49);
}
